<main class="h-full">
  <div
    class="relative w-full h-full before:absolute before:left-0 before:right-0 before:top-0 before:z-[2] before:h-full before:w-full before:bg-black before:opacity-60"
  >
    <img
      src="assets/bg1.png"
      alt="background 1"
      class="absolute z-1 w-full h-full"
    />
    <div class="z-[1]">
      <app-navbar></app-navbar>
      <app-home></app-home>
      <app-footer></app-footer>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
